header {
  display: flex;
}

.heading-container {
  width: 100%;
  height:auto
}

.heading {
  display: flex;
  flex: 0.9;
  justify-content: center;
}

.icons {
  display: flex;
  flex: 0.1;
  align-items: center;
}

.left-section{
  display: flex;
  flex-direction: column;
  flex:0.3;
  margin-right: 10px; 
}

.right-section{
  display: flex;
  flex-direction: column;
  flex: 0.7;
}

.up,
.down {
  flex: 1;
  /*border: 1px solid #ccc;*/
  margin-right: 20px;
}

.up {
  overflow-y: auto;

  /* WebKit-based browsers (Chrome, Safari) */
  &::-webkit-scrollbar-track {
    background-color: var(--deepBlue); /* Color of the track */
  }

  /* For Firefox */
  scrollbar-color: var(--blue) var(--deepBlue); /* Color of the thumb and track */
  justify-content: center;
}

p, h2{color:white;}
h2 {margin-left:25%;}

.newFolder {
  height: 60px;
  min-height: 60px;
  width: 60%;
  margin-left: 20%;
  border-radius: 20px;
  font-family: myFont;
  color: white;
  background-color: var(--purple);
}

.newFolderChild {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  min-height: 60px;
  width: 60%;
  margin-left: 20%;
  border-radius: 20px;
  font-family: myFont;
  color: white;
  background-color: var(--purple);
}

.folder-right-section{
  display: flex;
  flex-direction: column;
  flex: 0.9;
}

.folder-left-section{
  display: flex;
  flex-direction: column;
  flex:0.1;
  margin-right: 10px; 
}

.addFolderPopup {
  display: none;
  width:60%;
  margin-top:20px;
  margin-left:20%;
}

.addTaskPopup {
  display:none;
  width:60%;
  margin-top:20px;
  margin-left:20%;
}

.editFolderPopup {
  display: none;
  width:60%;
  margin-top:20px;
  margin-left:20%;
}

.form-container {
  padding: 10px;
  background-color: white;
  display:flex;
  flex-direction: column;
  background-color: var(--blue);
  border:none;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 7px var(--purple);
}

.task-container{
  width:70%;
  height: auto;
}

.info-container {
  width:100%;
  min-height:100px;
}

.individual-task-container {
  display: flex;
  border-radius: 20px;
  font-family: myFont;
  color: white;
  background-color: var(--purple);
  margin-bottom: 40px;
  padding: 5px;
}

.container-glow {
  box-shadow: 0 0 10px rgba(144, 238, 144, 0.8);
}

#taskName {
  font-size: 20px;
  margin-top: 5px;
  margin-left:10px;
}

#taskDesc {
  margin-left:10px;
}

#taskCompleted {
  margin-left:10px;
}

.newTask {
  height: 60px;
  width: 70%;
  border-radius: 20px;
  font-family: myFont;
  color: white;
  background-color: var(--purple);
  margin-bottom: 20px;
}

/* stacks items on top of eachother i.e. a new row */
.split-row {
  display: flex;
  flex-direction: column;
}

/* puts items next to eachother i.e. a new column */
.split-column {
  display: flex;
  flex-direction: row;
}

.space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.task-bottom-container {
  display: flex;
  justify-content: space-around;
}

.task-top-container {
  display: flex;
  overflow: hidden; 
}

.split-column input {
  margin-top: 3px;
}

.trash {
  height: 35px;
  width: auto;
}

.quit-img {
  height: 50px;
  width:auto;
}

.quit-button {
  height: 100%;
  background-color: var(--deepBlue); /* purple background */
  padding: 10px;
  border: none;
  cursor: pointer;
}

.task-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--purple); /* purple background */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-button p {
  margin: 0; /* Remove default margin from the paragraph */
}

.task-button:hover {
  background-color: var(--blue); /* Darker green on hover */
}

.nestedButton {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%; /* Position the dropdown below the parent (.nestedButton) */
  right: 0%;
  width: 200px;
  z-index: 1;
  background-color: var(--deepBlue);
  overflow-x: hidden;
}

.dropdown-content a, .deleteFolderBtn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-content a:hover {
  background-color: var(--blue);
  color: var(--purple)
}

.show {
  display: block;
}

.optionIcon {
  width: 30px; 
  height: 30px; 
}

.label {
  text-align: center;
  justify-content: center;
  margin-left: 6px;
}

input[type="checkbox"] {
  width: 20px;
  height: 35px;
  transform: scale(1.5);
}

input[type="text"] {
  margin-bottom: 5px;
}

@media screen and (max-width:790px) {
  .page-container {
    display:block;
    margin-top:30px;
  }
  .right-section{
    display: none;
  }
  .form-container{
    font-size: 25px;
    text-align: center;
  }
  .form-container button {
    border-radius: 5px;
    border:none;
  }
}
