
.left-section{
  display: flex;
  flex-direction: column;
  flex:0.3;
  margin-right: 10px;
}

.right-section{
  display: flex;
  flex-direction: column;
  flex: 0.7;
}

.up,
.down {
  flex: 1;
  /*border: 1px solid #ccc;*/
  margin-right: 20px;
}

.up {
  overflow-y: auto;

  /* WebKit-based browsers (Chrome, Safari) */
  &::-webkit-scrollbar-track {
    background-color: var(--deepBlue); /* Color of the track */
  }

  /* For Firefox */
  scrollbar-color: var(--blue) var(--deepBlue); /* Color of the thumb and track */
}

p{color:white;}

.newFolder {
  height: 60px;
  width: 60%;
  margin-left: 20%;
  border-radius: 20px;
  font-family: myFont;
  color: white;
  background-color: var(--purple);
}

.addFolderPopup {
  display: none;
  width:60%;
  margin-top:20px;
  margin-left:20%;
}

.addTaskPopup {
  display:none;
  width:60%;
  margin-top:20px;
  margin-left:20%;
}

.form-container {
  padding: 10px;
  background-color: white;
  display:flex;
  flex-direction: column;
  background-color: var(--blue);
  border:none;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 7px var(--purple);
}

.individual-task-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 100px;
  border-radius: 20px;
  font-family: myFont;
  color: white;
  background-color: var(--purple);
  margin-bottom: 40px;
  padding: 5px;
}

.task-left-side {
  width:90%;
}

#taskName {
  font-size: 20px;
  margin-top: 5px;
  margin-left:10px;
}

#taskDesc {
  margin-left:10px;
}

.task-right-side {
  width: 10%;
  display: flex;
  align-items: center;
}

.newTask {
  height: 60px;
  width: 70%;
  border-radius: 20px;
  font-family: myFont;
  color: white;
  background-color: var(--purple);
}

.split-column{
  display: flex;
  flex-direction: column;
}

.split-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.split-section input {margin-top:3px;}

input[type="checkbox"] {
  width: 20px;
  height: 30px;
  transform: scale(1.5);
}

input[type="text"] {
  margin-bottom: 5px;
}

@media screen and (max-width:790px) {
  .page-container {
    display:block;
    margin-top:30px;
  }
  .right-section{
    display: none;
  }
  .form-container{
    font-size: 25px;
    text-align: center;
  }
  .form-container button {
    border-radius: 5px;
    border:none;
  }
}
